body {
    display: flex;
    flex-direction: column;
    height: 100svh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.giphy.com/media/TxVVB6PfWMjE4/200.webp);
}
h1 {
    font-size: 80px;
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
}
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 500px;
    border: yellow 2px solid;
    border-radius: 5px;
    color: white;
}
button {
    margin-top: 10px;
    background-color: #ccc;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}
button:hover {
    background-color: yellow;
}
